@CHARSET "UTF-8";

/*login*/
body{
	font-family:Arial, Helvetica, sans-serif;
	min-height: 2000px;
  	padding-top: 70px;
}

select {
     display:inline;
     margin:0px;
     padding:0px;
}
	
		


.loginpage{
	display: inline-block;
	margin-top:8%;
	margin-left:30%;
	text-align:right;
	width:10%;
	
}	
.login{
	background-color:#FFF3F3;
	border-radius:5px;
	width:160px;
	margin-left:2%;
	border-color:#FFF3F3;
	
}

.login:focus{
	background-color: white;
}

fieldset {
	border-style: solid;
	border-color: LightCoral;
	border-width: 10px;
	margin-top:10px;
	width:800px;
	position:
}
#mdp{	
	margin-left:50%;
	width:20%;
}

#login{
	background-color:#FFF3F3;
	margin-left:50%;
	width:10%;
}

/*footer*/

#footer{
	position: absolute;
	bottom:5px;
	/*text-align:center;*/

}
#footer p{
	width:100%;
	font-style :oblique;
	
		
}


#footer ul li{
	display: inline-block;	
	float:left
}
#footer ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 2em 6em 5em 8em;
	margin-left:40%;
	width:100%;
}

/*student_home*/
#welcomestudent{
	width: 70%;
	padding: 1%;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
    border: 1px solid ;
	
}
#school{
}
#studentstatus{
}

/*research*/
#selection{
	width:100%;
}
th{
	width:20%;
}
select{
	width:100%;
	
}

.search{
    display: inline-block;
    width: 20%;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow: 
        inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.searchpad {
    display: inline-block;
    width:30%;
}

/*menu*/
.menu_ul {
    list-style-type: none;
    margin: 0 0 0 0 ;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#BBB, #777);
}
.menu_li {
    float: left;
}

.menu_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.menu_a:hover {
    background: linear-gradient(#999, #555);
}
