.menu_ul {
    list-style-type: none;
    margin: 0 0 0 0 ;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#BBB, #777);
}

.menu_li {
    float: left;
}

.menu_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.menu_a:hover {
    background: linear-gradient(#999, #555);
}